<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="birthday-container">
        <!-- Image and Text -->
        <div class="content-wrapper">
            <!-- Text on the Left -->
            <div class="text-left">
                <p>"Darling like the rain to the earth,i have fallen for you more than a million times"</p>
            </div>

            <!-- Image in the Center -->
            <div class="image-container">
                <h1>Happy Birthday My Rabbit</h1>
                <p>You are the bestest thing that has ever happened to me</p>
                <img src="/images/center-image.png" alt="Birthday Image" class="birthday-image">
            </div>

            <!-- Text on the Right -->
            <div class="text-right">
                <p>"You are that perfection that set my heart on fire"<br>"you are that divine beauty that set my soul in serenity"</p>
            </div>
        </div>
    </div>
</body>
</html>
